In [1]:
from cobra import Model,Reaction,Metabolite

In [2]:
M=Model('Dr_Task')

In [3]:
glc=Reaction('glc')
glc.name='glc'
glc.lower_bound=1
glc.upper_bound=1

In [4]:
AA=Reaction('AA')
AA.name='AA'
AA.lower_bound=0
AA.upper_bound=1000

In [5]:
Biomass=Reaction('Biomass')
Biomass.name='Biomass'
Biomass.lower_bound=0
Biomass.upper_bound=1000

In [6]:
Mu=Reaction('Mu')
Mu.name='Mu'
Mu.lower_bound=0
Mu.upper_bound=1000

In [7]:
glyc=Metabolite('glyc',compartment='c')
AmAc=Metabolite('AmAc',compartment='c')
BioMass=Metabolite('BioMass',compartment='c')

In [8]:
glc.add_metabolites({glyc:1})

In [9]:
AA.add_metabolites({glyc:-1,AmAc:1})

In [10]:
Biomass.add_metabolites({AmAc:-9.09,BioMass:1})

In [11]:
Mu.add_metabolites({BioMass:-1})

In [12]:
M.add_reactions([glc,AA,Biomass,Mu])

In [13]:
M.objective='Mu'

In [14]:
M.optimize()