In [1]:
import cobra

In [2]:
from cobra import Model,Reaction,Metabolite

In [3]:
model=Model('first example')

In [5]:
R0=Reaction('R0')
R0.name='R0'
R0.lower_bound=1
R0.upper_bound=1

In [6]:
R1=Reaction('R1')
R1.name='R1'
R1.lower_bound=0
R1.upper_bound=1000

R2=Reaction('R2')
R2.name='R2'
R2.lower_bound=0
R2.upper_bound=1000

Mu=Reaction('Mu')
Mu.name='Mu'
Mu.lower_bound=0
Mu.upper_bound=1000

In [7]:
ATP=Reaction('ATP')
ATP.name='ATP'
ATP.lower_bound=0
ATP.upper_bound=1000

R3=Reaction('R3')
ATP.name='R3'
ATP.lower_bound=0.9
ATP.upper_bound=0.9

In [10]:
A=Metabolite('A',compartment='c')
B=Metabolite('B',compartment='c')
C=Metabolite('C',compartment='c')
ATP2=Metabolite('ATP2',compartment='c')

In [11]:
R1.add_metabolites({A:-1,B:1})
R2.add_metabolites({B:-1,C:1})

In [12]:
R0.add_metabolites({A:1})

In [13]:
Mu.add_metabolites({C:-1})

In [14]:
ATP.add_metabolites({A:-1,ATP2:1})
R3.add_metabolites({ATP2:-1})

In [15]:
model.add_reactions([R0,R1,ATP,R2,R3,Mu])

In [16]:
model.objective="Mu"

In [17]:
model.optimize()

In [19]:
model.summary()